.row{
  margin-bottom: 30px;
}

.infoProducto{
  text-align: center ;
  font-size: 20px;
}
.btn{
  background-color: grey;
}

.btnProd{
  text-align: center;
}

.imgProd{
    height: 300px;
    width: 300px;
}

.textDescripcion{
  font-size: 1em;
}

.textPrecio{
  font-weight: bold;
}